firebase-admin==2.15.1
pandas==1.1.5
pandas-ta==0.2.23b0
asyncio==3.4.3
click==7.1.2
unicorn-binance-websocket-api==1.34.2
google-cloud-pubsub==2.8.0
python-binance==0.7.5
numpy==1.21.2
numexpr==2.7.1
ccxt==1.76.38