Cython==0.28.2
pytest==3.10.1
pandas
pandas-ta==0.2.23b0
progressbar==2.5
firebase-admin==2.15.1
dateparser==0.7.1
numpy
matplotlib==3.1.2
mplfinance==0.12.3a3
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.2.0+cpu
torchvision==0.4.0+cpu
fastai==1.0.58
firebase
python_jwt
gcloud
sseclient
pycrypto
requests-toolbelt
pyOpenSSL
grpcio==1.30.0
sklearn
asyncio==3.4.3
tqdm==4.56.2
websockets